.header {
	background-color: var(--main-white);
	/* box-shadow: 0 3px  rgba(0, 0, 0, .2); */
	box-shadow: var(--main-shadow);
	/* padding: 5px 0;  */
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.header__container {
	max-width: var(--site-width);
	margin: 0 auto;
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__logo {
	/* width: 150px;
	height: 70px; */
	/* display: flex;
	align-items: center;
	justify-content: center; */
	/* background-color: #333333; */
	/* background-color: var(--wild_blue); */
	/* color: var(--ghost-white);
	font-weight: bold; */
	
	& a {
		color: var(--main-white);
		text-transform: uppercase;
		text-decoration: none;
	}
}

.header__logoimg{
	max-width: 200px;
}

.header__nav {

}

.menu{
	padding: 0;
	display: flex;
	list-style: none;
}

.menu__li {
	padding: 10px 15px;
	min-width: 100px;
	text-align: center;
	/* background-color: #fafafa;  */
	/* margin-left: var(--offset-half); */
	margin-left: calc(var(--offset-half) / 4);

	& a {
		text-decoration: none;
		font-weight: bold;
		font-size: .9rem;
		color: var(--main-gray);
		text-transform: uppercase;
		transition: var(--main-transition);

		&:hover {
			/* text-decoration: underline; */
			/* color: var(--main-black); */
			color: var(--wild_blue);
		}
	}
}

.menu__li-active {
	& a {
		/* color: var(--main-black); */
		color: var(--dark_blue);
		/* text-decoration: underline; */
	}
}