.home__main{

}

.home__header {
	font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid var(--main-black);
}

.home__descr {
	line-height: 1.5;
	color: var(--main-gray);
	/* margin-bottom: var(--offset); */
	margin: var(--offset-half) 0;
}

/* Homepage Hero */
.home_hero {
	background-image: url("../img/hero.jpg");
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.home_hero__container {
	position: relative;
	max-width: var(--site-width);
	margin: 0 auto;
	min-height: 100vh;
}

.home_hero__icon {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 150px;
	left: 50%;
	opacity: .8;
	animation: arrow_btn 2s infinite ease-in-out;

	&:hover {
		opacity: 1;
		animation-play-state: paused;
	}
}

@keyframes arrow_btn {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
}

.home_hero__content {
	background-color: rgba(0,0,0, 0.4);
	border-radius: 3px;
	position: absolute;
	top:30%;
	left: 0;
	padding: var(--offset);
	max-width: 800px;
	color: var(--ghost-white);
	transform: skew(-5deg);
}

.hero_content__preheader {
	font-weight: bold;
	text-transform: uppercase;
	color: var(--main-orange);
	font-size: 1.3rem;
	margin-top: calc(var(--offset) * 2);
	transform: skew(5deg);
}

.hero_content__header {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.2rem;
	transform: skew(5deg);
}


.hero_content__text {
	margin-bottom: calc(var(--offset) * 2);
	transform: skew(5deg);
}

.hero_content__btn{
	transform: skew(5deg);
	display: inline-block;
	padding: var(--offset-half);
	background-color: var(--main-orange);
	text-decoration: none;
	color: var(--main-white);
	font-weight: bold;
	text-shadow: 0 0 14px rgba(12,12,12, .8);
	border-radius: 3px;

	background-color: transparent; 
	border: 4px solid var(--main-orange);

	transition: background-color 0.3s var(--btn-cub);
	&:hover{
		background-color: var(--main-orange);
	}
}

.hero_content__btn-red {
	background-color: var(--main-red);
	background-color: transparent; 
	border: 4px solid var(--main-red);
	margin-left: var(--offset-half);
	transition: background-color 200ms linear;

	&:hover{
		background-color: var(--main-red);
	}
}

/* Homepage New Posts */
.new_posts{
	max-width: var(--site-width);
	margin: var(--offset) auto var(--offset) auto;
	padding: var(--offset) 0 calc(var(--offset) * 2) 0;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0 24px;
}

.new_posts__info {

}

.new_posts__header {
	/* font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid var(--main-black); */
}

.new_posts__description {
	/* line-height: 1.5;
	color: var(--main-gray);
	margin-bottom: var(--offset);
	margin: var(--offset-half) 0; */
}

.new_posts__link {
	color: var(--main-red);
	text-decoration: none;
	font-weight: bold;
	padding: var(--offset-half) 0;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}
}

.new_posts__cards{
	display: flex;
	/* gap: 16px; */
	background-color: var(--main-orange);
	background-size: 50%;
	background: linear-gradient(0, #FFFFFF 50%, var(--main-orange) 50%);
	padding: 0 10px;
}

/* Post Card */
.post_card {
	position: relative;
	/* top: calc(var(--offset) * 1.2); */
	top: 30px;
	background-color: var(--main-white);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s var(--btn-cub); 
	border-radius: 3px;
	margin-right: 10px;

	&:hover {
		box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23);
	}
}

.post_card:last-of-type {
	margin-right: 0;
}

.post_card__image {
	width: 100%;
	height: 180px;
	background-color: var(--main-red);
}

.post_card__content {
	padding: 5px 15px 15px 15px;
}

.post_card__title{
	text-transform: uppercase;
}

.post_card__text{
	line-height: 1.5;
	margin-bottom: var(--offset-half);
}

.post_card__btn {
	border: 2px solid var(--main-orange);
	padding: 5px 15px;
	display: inline-block;
	text-decoration: none;
	border-radius: 3px;
	font-weight: bold;
	color: var(--main-orange);
	transition: all 0.3s var(--btn-cub); 

	&:hover {
		background-color: var(--main-orange);
		color: var(--main-white);
	}
}

/* Homepage Services Section */
.home_services {
	max-width: var(--site-width);
	margin: 0 auto calc(var(--offset) * 2);
}

.home_services__info {
	margin-bottom: var(--offset);
}

.home_services__header {
	max-width: fit-content;
}

.home_services__description {
	max-width: 550px;
}

.home_services__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: auto;
	gap: var(--offset-half);
}

.h_service_card {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	padding: var(--offset-half);
	border-radius: 3px;
	transition: all 0.3s var(--btn-cub); 
	position: relative;

	&:hover {
		box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23);
	}
}

.h_service_card__img {
	max-width: 160px;
	max-height: 160px;
	margin: 0 auto var(--offset);
	/* background-color: var(--main-blue); */

	& img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.h_service_card__title {
	text-align: center;
	margin: var(--offset-half) 0;

	& a {
		text-decoration: none;
		color: var(--main-black);

		&:hover {
			text-decoration: underline;
		}
	}
}

.h_service_card__description {
	color: var(--main-gray);
	line-height: 1.5;
}

.h_service_card__icon {
	width: var(--offset-half);
	height: var(--offset-half);
	background: url("../img/ho_icon.svg") 0 0 no-repeat;
	display: inline-block;
	line-height: 1;
	cursor: help;
}

.h_service_card__hoverdescr {
	display: none;
	position: absolute;
	z-index: 1;
	right: calc(var(--offset-half) / 2);
	left: calc(var(--offset-half) / 2);
	padding: var(--offset-half);
	background-color: var(--ghost-white);
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.h_service_card__hoverdescr--active {
	display: block;
}