.pagination{
	margin: 0 auto;
	max-width: fit-content;

	/* border: 1px solid var(--light-gray); */
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.pagination__container{

}

.pagination__list{
	display: flex;
	list-style: none;
	margin: 0;
	padding: calc(var(--offset-half) / 1.5) var(--offset-half);
}

.pagination__link{
	margin: 0 calc(var(--offset-half) / 1.5);
}

.pagination__link a{
	text-decoration: none;
	/* font-weight: bold; */
	color: var(--main-gray);
}

.pagination__link a:hover{
	color: var(--main-black);
}
.pagination__link--active a{
	color: var(--dark_blue);
	font-weight: bold;
}