.services {
	max-width: var(--site-width);
	margin: 0 auto calc(var(--offset) * 2);
}

@media screen and (width <= 1300px){
	.services {
		padding: var(--offset-half);
	}
}

.services__info {
	margin-bottom: var(--offset);
}

.services__header--home {
	max-width: fit-content;
}

.services__description {
	max-width: 550px;
}

.services__cards {
	padding: var(--offset);
	background-color: var(--ghost-white);
	border-radius: var(--border-radius);
	box-shadow: var(--main-shadow);
}

@media screen and (width <= 980px) {
	.services__cards {
		padding: var(--offset-half);
	}
}

@media screen and (width <= 900px) {
	.service_card__img {
		grid-row: 1/2;

		max-width: 140px;
		max-height: 140px;
	}

	.service_card__title {
		border: none;
		padding: 0;
		align-self: center;
		justify-self: flex-end;
	}

	.service_card__description {
		grid-column: 1/-1;
	}
}

@media screen and (width <= 850px) {
	.services {
		margin-bottom: var(--offset);
	}

	.service_card__title {
		font-size: 1.5rem;
	}

	.service_card__description {
		line-height: 1.7;
	}
}

@media screen and (width <= 750px) {
	.service_card {
		padding: calc(1.5 * var(--offset-half));
	}
}

@media screen and (width <= 700px) {
	.service_card {
		gap: var(--offset-half);

	}
}

@media screen and (width <= 660px) {

	.service_card {
		grid-template-columns: 1fr;
		gap: var(--offset);
	}
	.service_card__title {
		justify-self: center;
		font-size: 1.4rem;
	}

	.service_card__img {
		justify-self: center;
	}

	.service_card__description {
		font-size: .9rem;
	}
}

@media screen and (width <= 550px) {
	.service_card__img {
		max-width: 120px;
		max-height: 120px;
	}

	.services {
		padding: var(--offset-half);
	}

	.services__cards {
		padding: 0;
		background-color: transparent;
		box-shadow: none;
	}
}

.service_card {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr;
	gap: var(--offset) calc(var(--offset) * 2);
	justify-content: center;

	background-color: var(--main-white);
	box-shadow: var(--main-shadow);
	padding: var(--offset) calc(var(--offset) * 1.5);
	border-radius: var(--border-radius);
	margin-bottom: var(--offset);

	&:last-of-type {
		margin-bottom: 0;
	}
}

.service_card__img {
	max-width: 180px;
	max-height: 180px;
	
	grid-row: 1/-1;
	align-self: center;

	& img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

.service_card__title {
	/* text-align: center; */
	/* margin: var(--offset-half) 0; */
	margin: 0;
	font-size: 1.7rem;
	border-bottom: 2px solid var(--lavender);
	padding-bottom: var(--offset-half);
	max-width: fit-content;

	& a {
		text-decoration: none;
		color: var(--main-black);

		transition: var(--main-transition);
	
		&:hover {
			/* text-decoration: underline; */
			color: var(--dark_blue);
		}
	}
}

.service_card__description {
	color: var(--main-gray);
	max-width: 900px;
	line-height: 1.5;
}

.service_card__icon {
	width: var(--offset-half);
	height: var(--offset-half);
	background: url("../img/ho_icon.svg") 0 0 no-repeat;
	display: inline-block;
	line-height: 1;
	cursor: help;
}

.service_card__hoverdescr {
	display: none;
	position: absolute;
	z-index: 1;
	right: calc(var(--offset-half) / 2);
	left: calc(var(--offset-half) / 2);
	padding: var(--offset-half);
	/* background-color: var(--ghost-white); */
	background-color: var(--lavender);
	border-radius: var(--border-radius);
	box-shadow: var(--main-shadow);
}

.service_card__hoverdescr--active {
	display: block;
}