.home__main{

}

.home__header {
	font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid var(--main-black);
}

@media screen and (width <= 880px) {
	.home__header {
		font-size: 1.6rem;
	}
}

.home__descr {
	line-height: 1.5;
	color: var(--main-gray);
	/* margin-bottom: var(--offset); */
	margin: var(--offset-half) 0;
}

/* Homepage Hero */
.home_hero {
	/* background-image: url("../img/hero3.jpg"); */
	background-image: url("../img/test_bg3.jpg");
	background-attachment: fixed;
	/* background-position: 0 0; */
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.home_hero__container {
	position: relative;
	max-width: var(--site-width);
	margin: 0 auto;
	padding: var(--offset-half);
	min-height: 100vh;
}

.home_hero__icon {
	width: 60px;
	height: 60px;
	position: absolute;
	/* bottom: 100px; */
	bottom: 5%;
	left: 50%;
	opacity: .8;
	animation: arrow_btn 2s infinite ease-in-out;
	cursor: pointer;

	&:hover {
		opacity: 1;
		animation-play-state: paused;
	}
}

@keyframes arrow_btn {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
}

.home_hero__content {
	/* background-color: rgba(0,0,0, 0.4); */
	/* background-color: var(--wild_blue); */
	background-color: rgba(148, 170, 216, .67);
	border-radius: var(--border-radius);
	position: absolute;
	top:30%;
	left: 0;
	padding: var(--offset);
	max-width: 800px;
	color: var(--ghost-white);
	transform: skew(-5deg);
}

.hero_content__preheader {
	font-weight: bold;
	text-transform: uppercase;
	/* color: var(--main-orange); */
	color: var(--main-white);
	font-size: 1.3rem;
	margin-top: calc(var(--offset) * 2);
	transform: skew(5deg);
}

.hero_content__header {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.3rem;
	transform: skew(5deg);
	color: var(--dark_blue);
}


.hero_content__text {
	margin-bottom: calc(var(--offset) * 2);
	transform: skew(5deg);
	color: var(--main-white);
	font-weight: bold;
}

.hero_content__btn{
	transform: skew(5deg);
	display: inline-block;
	padding: var(--offset-half);
	text-decoration: none;
	color: var(--main-white);
	font-weight: bold;
	/* text-shadow: 0 0 14px rgba(12,12,12, .8); */
	border-radius: var(--border-radius);
	/* background-color: transparent;  */

	/* border: 4px solid var(--main-orange); */
	border: 2px solid var(--wild_blue);
	border: 2px solid var(--dark_blue);

	background-color: var(--wild_blue);
	transition: var(--main-transition);

	&:hover{
		/* background-color: var(--main-orange); */
		/* background-color: var(--wild_blue); */
		background-color: var(--dark_blue);
		border-color: var(--dark_blue)
	}
}

.hero_content__btn-dif {
	/* background-color: var(--main-red); */
	background-color: transparent; 
	/* border: 4px solid var(--main-red); */
	border: 2px solid var(--lavender);
	margin-left: var(--offset-half);
	/* transition: background-color 200ms linear; */
	transition: all 200ms linear;

	&:hover{
		/* background-color: var(--main-red); */
		background-color: var(--lavender);
		color: var(--wild_blue);
		border-color: var(--lavender)
	}
}

@media screen and (width <= 1350px) {
	.home_hero__container{
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.home_hero__content {
		max-width: 80vw;
		transform: skew(-5deg);
		position: static;
	}

	.home_hero__icon{
		left: unset;
	}
}

@media screen and (width <= 1000px) {
	.home_hero__content {
		max-width: 85vw;
	}

	.hero_content__preheader{
		font-size: 1.2rem;
		margin-top: var(--offset);
	}
	.hero_content__header{
		font-size: 2.1rem;
	}
	.hero_content__text{
		margin-bottom: calc(var(--offset)*1.5);
	}
}

@media screen and (width <= 850px) {
	.home_hero__content{
		transform: skew(0);
		max-width: 100%;
		box-shadow: var(--main-shadow);
	}

	.hero_content__preheader{
		font-size: 1.1rem;
		transform: skew(0);
	}
	.hero_content__header{
		font-size: 2rem;
		transform: skew(0);
	}
	.hero_content__text{
		margin-bottom: calc(var(--offset)*1.5);
		transform: skew(0);
	}

	.hero_content__btn{
		transform: skew(0);
	}
}

@media screen and (width <= 580px){
	.home_hero__content{
		padding: var(--offset-half);
	}
	
	.hero_content__header{
		font-size: 1.6rem;
	}

	.hero_content__btn{
		padding: 10px;
	}

	.hero_content__btn-dif{
		margin-left: var(--offset-half);
	}

	.home_hero__icon{
		width: 50px;
		height: 50px;
	}
}

@media screen and (width <= 480px){
	.hero_content__header {
		font-size: 1.2rem;
	}
}
/* Homepage New Posts */
.new_posts{
	max-width: var(--site-width);
	margin: var(--offset) auto var(--offset) auto;
	padding: var(--offset) 0 calc(var(--offset) * 2) 0;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0 24px;
}

.new_posts__info {

}

.new_posts__header {
	/* font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid var(--main-black); */
}

.new_posts__description {
	/* line-height: 1.5;
	color: var(--main-gray);
	margin-bottom: var(--offset);
	margin: var(--offset-half) 0; */
}

.new_posts__link {
	/* color: var(--main-red); */
	color: var(--dark_blue);
	text-decoration: none;
	font-weight: bold;
	padding: var(--offset-half) 0;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}
}

.new_posts__container{
	display: flex;
	/* background-color: var(--main-orange); */
	background-size: 50%;
	/* background: linear-gradient(0, #FFFFFF 50%, var(--main-orange) 50%); */
	background: linear-gradient(0, var(--body-color) 50%, var(--lavender) 50%);
	padding: 0 10px;
}

@media screen and (width <= 1350px) {
	.new_posts{
		padding: var(--offset) var(--offset-half);
		margin-bottom: calc(var(--offset) * 2);
	}
}

@media screen and (width <= 1300px) {
	.new_posts{
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
		padding: var(--offset);
	}

	.new_posts__info{
		max-width: 50vw;
		margin-bottom: var(--offset);
	}

	.new_posts__container{
		padding: var(--offset-half);
	}

	.post_card--home{
		margin-right: calc(var(--offset-half) *1.5);
		top: var(--offset-half);
		top:0;
	}

	.post_card--home > .post_card__content > .post_card__text{
		margin: var(--offset-half) 0;
		line-height: 1.8;
	}
}

@media screen and (width <= 1150px) {
	.new_posts{
		padding: var(--offset-half);
		margin-bottom: var(--offset);
	}

	.post_card--home{
		margin-right: var(--offset-half);
	}

	.post_card--home > .post_card__content > .post_card__text{
		margin: var(--offset) 0;
	}
}

@media screen and (width <= 1100px) {
	.new_posts{
		margin-bottom: var(--offset);
		padding: var(--offset);
	}

	.post_card--home{
		margin-right: var(--offset-half);
	}

	.new_posts__container{
		padding: 0;
		background: transparent;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--offset);
	}

	.post_card--home {
		margin-right: 0;
	}
}

@media screen and (width <= 1000px){
	.new_posts__info {
		max-width: 100%;
	}

	.new_posts__header {
		border-bottom: none;
	}
}

@media screen and (width <= 850px){
	.new_posts {
		padding: var(--offset-half);
	}

	.new_posts__container{
		gap: var(--offset-half);
	}
}
@media screen and (width <= 750px){
	.new_posts__container{
		grid-template-columns: 1fr;
		gap: var(--offset);
	}

	.post_card--home {
		max-width: 80%;
		justify-self: center;
	}
}
@media screen and (width <= 580px){
	.post_card--home {
		max-width: 90%;
	}
}

@media screen and (width <= 480px){
	.post_card--home {
		max-width: 100%;
	}
}
/* Home Services */
.homeservices {
	max-width: var(--site-width);
	margin: 0 auto calc(var(--offset) * 2) auto;
}

.homeservices__info {
	margin-bottom: calc(var(--offset) * 2);
}

.homeservices__cards{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: calc(var(--offset) * 3) calc(var(--offset) * 1.5);
}

.homeservices_card{

}

.homeservices_card__img{
	max-width: 130px;
	height: auto;
	margin: 0 auto var(--offset) auto;
}
.homeservices_card__img a {
	display: block;
}

.homeservices_card__img a img {
	max-width: 100%;
	display: block;
}
.homeservices_card__icon{

}

.homeservices_card__title{
	text-align: center;

	& a {
		color: var(--main-black);
		text-decoration: none;

		&:hover {
			color: var(--main-gray);
		}
	}
}

@media screen and (width <= 1350px){
	.homeservices {
		padding: var(--offset-half);
		margin-bottom: var(--offset);
	}
}

@media screen and (width <= 1300px){
	.homeservices {
		padding: var(--offset);
	}
}

@media screen and (width <= 1100px){
	.homeservices__cards {
		grid-template-columns: repeat(2, 1fr);
		gap: var(--offset);
	}

	.homeservices_card{
		padding: var(--offset-half);
	}
}

@media screen and (width <= 850px){
	.homeservices{
		padding: var(--offset-half);
	}

	.homeservices__cards{
		gap: var(--offset-half);
	}

	.homeservices_card{
		padding: var(--offset-half) 0;
	}
}

@media screen and (width <= 750px){
	.homeservices__cards{
		grid-template-columns: 1fr;
	}

	.homeservices_card__img{
		max-width: 120px;
	}

	.homeservices_card{
		max-width: 80%;
		justify-self: center;
	}
}


@media screen and (width <= 580px){
	.homeservices_card{
		max-width: 90%;
	}

	.homeservices_card__img{
		max-width: 110px;
	}
}
@media screen and (width <= 480px){
	.homeservices_card{
		max-width: 100%;
	}
}

@media screen and (width <= 1000px) {
	.home__header{
		border-bottom: none;
	}
}