.home__main{

}

.home__header {
	font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid var(--main-black);
}

.home__descr {
	line-height: 1.5;
	color: var(--main-gray);
	/* margin-bottom: var(--offset); */
	margin: var(--offset-half) 0;
}

/* Homepage Hero */
.home_hero {
	background-image: url("../img/hero3.jpg");
	background-attachment: fixed;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}

.home_hero__container {
	position: relative;
	max-width: var(--site-width);
	margin: 0 auto;
	min-height: 100vh;
	filter: blur(0);
}

.home_hero__icon {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 100px;
	left: 50%;
	opacity: .8;
	animation: arrow_btn 2s infinite ease-in-out;

	&:hover {
		opacity: 1;
		animation-play-state: paused;
	}
}

@keyframes arrow_btn {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(10px);
	}
}

.home_hero__content {
	/* background-color: rgba(0,0,0, 0.4); */
	/* background-color: var(--wild_blue); */
	background-color: rgba(148, 170, 216, .67);
	border-radius: 3px;
	position: absolute;
	top:30%;
	left: 0;
	padding: var(--offset);
	max-width: 800px;
	color: var(--ghost-white);
	transform: skew(-5deg);
}

.hero_content__preheader {
	font-weight: bold;
	text-transform: uppercase;
	/* color: var(--main-orange); */
	color: var(--main-white);
	font-size: 1.3rem;
	margin-top: calc(var(--offset) * 2);
	transform: skew(5deg);
}

.hero_content__header {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 2.3rem;
	transform: skew(5deg);
	color: var(--dark_blue);
}


.hero_content__text {
	margin-bottom: calc(var(--offset) * 2);
	transform: skew(5deg);
	color: var(--main-white);
	font-weight: bold;
}

.hero_content__btn{
	transform: skew(5deg);
	display: inline-block;
	padding: var(--offset-half);
	text-decoration: none;
	color: var(--main-white);
	font-weight: bold;
	/* text-shadow: 0 0 14px rgba(12,12,12, .8); */
	border-radius: 3px;
	/* background-color: transparent;  */

	/* border: 4px solid var(--main-orange); */
	border: 2px solid var(--wild_blue);

	background-color: var(--wild_blue);
	transition: all 0.3s var(--btn-cub);

	&:hover{
		/* background-color: var(--main-orange); */
		/* background-color: var(--wild_blue); */
		background-color: var(--dark_blue);
		border-color: var(--dark_blue)
	}
}

.hero_content__btn-red {
	/* background-color: var(--main-red); */
	background-color: transparent; 
	/* border: 4px solid var(--main-red); */
	border: 2px solid var(--lavender);
	margin-left: var(--offset-half);
	/* transition: background-color 200ms linear; */
	transition: all 200ms linear;

	&:hover{
		/* background-color: var(--main-red); */
		background-color: var(--lavender);
		color: var(--wild_blue);
		border-color: var(--lavender)
	}
}

/* Homepage New Posts */
.new_posts{
	max-width: var(--site-width);
	margin: var(--offset) auto var(--offset) auto;
	padding: var(--offset) 0 calc(var(--offset) * 2) 0;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 0 24px;
}

.new_posts__info {

}

.new_posts__header {
	/* font-size: 1.8rem;
	margin-top: 0;
	margin-bottom: var(--offset-half);
	padding-bottom: var(--offset-half);
	border-bottom: 1px solid var(--main-black); */
}

.new_posts__description {
	/* line-height: 1.5;
	color: var(--main-gray);
	margin-bottom: var(--offset);
	margin: var(--offset-half) 0; */
}

.new_posts__link {
	/* color: var(--main-red); */
	color: var(--dark_blue);
	text-decoration: none;
	font-weight: bold;
	padding: var(--offset-half) 0;
	display: inline-block;

	&:hover {
		text-decoration: underline;
	}
}

.new_posts__container{
	display: flex;
	/* background-color: var(--main-orange); */
	background-size: 50%;
	/* background: linear-gradient(0, #FFFFFF 50%, var(--main-orange) 50%); */
	background: linear-gradient(0, #FFFFFF 50%, var(--lavender) 50%);
	padding: 0 10px;
}