.posts{
	margin: 0 auto calc(var(--offset) * 2) auto;
}

.posts__container{
	display: grid;
	grid-template-columns: minmax(160px, 180px) 1fr;
	gap: var(--offset-half);
	/* margin: 0 auto calc(var(--offset) * 2) auto; */
	max-width: var(--site-width);
}

@media screen and (width <= 1300px) {
	.posts__container {
		padding: 0 var(--offset-half);
	}
}

@media screen and (width <= 1200px) {
	.posts__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}


@media screen and (width <= 880px) {
	.posts__container {
		grid-template-columns: minmax(120px, 160px) 1fr;
	}

	.posts {
		margin-bottom: var(--offset);
	}

	.posts__cards {
		grid-template-columns: calc(80% - var(--offset));

		justify-content: center;
		padding: var(--offset);
	}
}

@media screen and (width <= 780px) {
	.posts__cards {
		grid-template-columns:100% ;
	}
}

@media screen and (width <= 600px ) {
	.posts__cards {
		padding: var(--offset-half);
	}
}


@media screen and (width <= 560px) {
	.posts__container {
		grid-template-columns: 1fr;
		gap: var(--offset);
	}

	.posts__aside {
		background-color: var(--main-white);
		padding: var(--offset-half);
		box-shadow: var(--main-shadow);
		border-radius: var(--border-radius);
	}

	.posts__widget {
		padding: 0;
	}

	.posts__cards {

	}
}


.posts__aside{
	/* min-height: 500px; */
	/* background-color: var(--light-gray); */
	/* padding: var(--offset-half); */
}

.posts__main {

}

.posts__widget{
	/* position: fixed; */
	position: sticky;
	top: 80px;


}

.posts__cards {

	background-color: var(--ghost-white);
	border-radius: var(--border-radius);
	padding: var(--offset-half);
	margin-bottom: var(--offset);
	height: auto;

	box-shadow: var(--main-shadow);

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: var(--offset) var(--offset-half);
}

.post_card {
	position: relative;
	background-color: var(--main-white);
	box-shadow: var(--main-shadow);
	transition: var(--main-transition); 
	border-radius: var(--border-radius);


	&:hover {
		box-shadow: var(--hover-shadow);
	}
}

.post_card--home{
	top: 30px;
	margin-right: 10px;

	display: grid;
	grid-template-rows: 180px 1fr;
}

.post_card--home .post_card__title{
	margin: var(--offset-half) 0;

}

.post_card--home .post_card__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.post_card--home .post_card__content .post_card__text {
	margin-top: 0;
}

.post_card:last-of-type {
	margin-right: 0;
}

.post_card__image {
	width: 100%;
	height: 180px;
	background-color: var(--main-red);

	border-top-left-radius: var(--border-radius);
	border-top-right-radius: var(--border-radius);
}

.post_card__image img{
	display: block;
	max-width: 100%;
	width: 100%;
	height: 100%;
	/* height: auto; */
	object-fit: cover;
	/* object-fit: fill; */
}

.post_card__content {
	padding: 5px 15px 15px 15px;
}

.post_card__title{
	text-transform: uppercase;
}

.post_card__text{
	line-height: 1.5;
	margin-bottom: var(--offset-half);
}

.post_card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.post_card__btn {
	/* border: 2px solid var(--main-orange); */
	border: 2px solid var(--wild_blue);
	padding: 5px 15px;
	/* display: inline-block; */
	text-decoration: none;
	border-radius: var(--border-radius);
	font-weight: bold;
	/* color: var(--main-orange); */
	color: var(--wild_blue);
	transition: var(--main-transition); 

	&:hover {
		/* background-color: var(--main-orange); */
		color: var(--main-white);
		background-color: var(--wild_blue);
	}
}

.post_card__date {
	margin: 0;
	color: var(--main-gray);
	/* font-weight: bold; */
}