.singlepost__main {
	max-width: var(--site-width);
	width: 100%;

	margin-top: calc(var(--offset) * 3);
	margin-bottom: calc(var(--offset) * 1.5);
	margin-left: auto;
	margin-right: auto;

	padding: 0 var(--offset-half);
}

.singlepost__headerimg{
	max-width: 100%;
	max-height: 550px;
	min-height: 550px;
	background-position: center center;
	box-shadow: var(--main-shadow);
	margin-bottom: calc(var(--offset) * 2);
	background-size: cover;
	background-repeat: no-repeat;
}

@media screen and (width <= 1100px) {
	.singlepost__headerimg {
		min-height: 400px;
	}
	.singlepost__headerimg {
		margin-bottom: calc(var(--offset) * 1.5);
	}
}

@media screen and (width <= 780px) {
	.singlepost__main {
		margin-top: calc(var(--offset)* 2.5);
	}
	.singlepost__headerimg {
		min-height: 350px;
	}
	.singlepost__content {
		padding: var(--offset-half);
	}
}
@media screen and (width <= 580px) {
	.singlepost__headerimg {
		min-height: 300px;
		margin-bottom: var(--offset);
	}
}
@media screen and (width <= 500px) {
	.singlepost__headerimg{
		min-height: 250px;
	}
}
@media screen and (width <= 400px) {
	.singlepost__headerimg{
		min-height: 150px;
	}
}

.singlepost__title{
	padding-bottom: var(--offset-half) !important;

	margin-top: 0;
	margin-bottom: var(--offset);
	margin-left: auto;
	margin-right: auto;

	max-width: var(--post-width);
	border-bottom: 1px solid var(--light-gray);
}

.singlepost__header{
	margin: 0 auto var(--offset-half) auto;
}

.singlepost__subheader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.singlepost__info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.singlepost__category{
	padding: 5px;

	& a {
		text-decoration: none;
		color: var(--main-gray);
		font-weight: bold;

		&:hover {
			color: var(--main-dark);
		}
	}
}

.singlepost__date{
	padding: 5px;
	margin-left: var(--offset-half);
}



.singlepost__share {
	/* min-width: 250px; */
}

.share__links{
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
	min-height: var(--offset);
}

.share__link {
	min-width: 20px; 
	margin-left: var(--offset-half);
	opacity: .7;
	transition: var(--main-transition);
}

.share__link:hover {
	opacity: 1;
}
.share__link.share__link--scaledtg {
	transform: scale(1.2);
}

.share__link.share__link--scaledvk {
	transform: scale(1.5);
}

.share__link img {
	display: block;
}

.singlepost__content{
	max-width: var(--post-width);
	margin: 0 auto;
	padding: var(--offset-half) var(--offset);
	background-color: var(--main-white);
	box-shadow: var(--main-shadow);
}

.singlepost__text {

}