.singlepage__main {
	margin-bottom: calc(var(--offset) * 2);
}

.singlepage__content {
	max-width: var(--site-width);
	margin: 0 auto;
	background-color: var(--main-white);
	padding: var(--offset-half) var(--offset);
	border-radius: var(--border-radius);
	box-shadow: var(--main-shadow);
}

.singlepage__text{
	font-size: 1.1rem;
	line-height: 1.7;
}
.singlepage__img {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

@media screen and (width <= 1300px) {
	.singlepage__main {
		padding: 0 var(--offset-half);
	}
}

@media screen and (width <= 850px){
	.singlepage__main {
		 margin-bottom: var(--offset);
	}
}