@import url("./normalize.css");
@import url("./variables.css");
@import url("./parts/header.css"); /* Import Header Styles */
@import url("./parts/footer.css"); /* Import Footer Styles */
@import url("./parts/asidewidgets.css"); /* Import Aside widget Styles */
@import url("./parts/pagination.css"); /* Import pagination Styles */
@import url("./animations.css"); /* Import Styles for animations */

/* Page Styles */
@import url("./pages/homepage.css"); /* Import Homepage Styles */
@import url("./parts/services.css"); /* Import Services Styles */
@import url("./pages/aboutpage.css"); /* Import Aboutpage Styles */
@import url("./pages/contactspage.css"); /* Import Contactspage Styles */
@import url("./pages/postpage.css"); /* Import Postspage Styles */
@import url("./pages/singlepage.css"); /* Import Singlepage Styles */
@import url("./pages/singlepostpage.css"); /* Import Singpostpage Styles */
@import url("./pages/materialspage.css"); /* Import Materialpage Styles */

* {
	box-sizing: border-box;
	line-height: 1.5;
}

html {
	height: 100%;
}

body {
	font-family: system-ui;
	overflow-wrap: break-word;
	color: var(--main-black);
	background-color: var(--body-color);
	scroll-behavior: smooth;
}

body.site_body {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

.pages__title{
	margin-top: calc(var(--offset) * 4);
	margin-bottom: calc(var(--offset) * 1.5);
	padding-left: var(--offset-half);
	padding-right: var(--offset-half);
	padding-bottom: calc(var(--offset) * 1.5);
	max-width: var(--site-width);
	margin-left: auto;
	margin-right: auto;
	border-bottom: 1px solid var(--light-gray);
}

@media screen and (width <= 1000px){
	.pages__title {
		margin-top: calc(var(--offset) * 3);
	}
	.pages__header{
		font-size: 2rem;
	}

	.pages__subheader{
		max-width: calc(100% - var(--offset));
		margin: 0;
	}
}

@media screen and (width <= 850px){
	.pages__header{
		font-size: 1.8rem;
	}

	.pages__subheader {
		font-size: .9rem;
	}

	.pages__title {
		padding-bottom: var(--offset);
		margin-bottom: var(--offset);
	}
}

@media screen and (width <= 650px){
	.pages__header{
		font-size: 1.7rem;
	}
}
@media screen and (width <= 550px){
	.pages__header{
		font-size: 1.6rem;
	}
}

.pages__header{
	font-size: 2.2rem;
	text-align: center;
}

.pages__subheader{
	margin-bottom: 0;
	margin: 0 auto 0 auto;
	max-width: calc(var(--site-width) - 300px);
	color: var(--main-gray);
}

/*
	Some later needed perks
*/

@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@media screen and (width <= 600px){
	.test{
		font-size: 1rem;
		display: none;
	}
}

/* :--heading {
	font-size: 2rem;

	@media (--viewport-medium) {
		margin: 0 auto;
	}
} */
