@import url("./normalize.css");
@import url("./variables.css");
@import url("./parts/header.css"); /* Import Header Styles */
@import url("./parts/homepage.css"); /* Import Homepage Styles */

* {
	box-sizing: border-box;
	line-height: 1.5;
}

html {
	height: 100%;
}

body {
	font-family: system-ui;
	overflow-wrap: break-word;
	color: var(--main-black);
}

body.site_body {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}



/*
	Some later needed perks
*/

@custom-media --viewport-medium (width <= 50rem);
@custom-selector :--heading h1, h2, h3, h4, h5, h6;

@media screen and (width <= 600px){
	.test{
		font-size: 1rem;
		display: none;
	}
}

/* :--heading {
	font-size: 2rem;

	@media (--viewport-medium) {
		margin: 0 auto;
	}
} */
